@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Sarala', sans-serif;
}

body {
    background-color: rgb(207, 222, 235);
}

.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 700px;
    height: 600px;
    background: rgba(141, 139, 209, 0.383);
    border-radius: 10px;
}

/*Area Do Titulo*/

.title-secundario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-secundario h2 {
    margin-top: 20px;
    margin-left: 50px;
    text-shadow: 2px 1px 2px rgba(106, 106, 226, 0.514);
    font-weight: 500;
    font-size: 25px;
    border-bottom: 2px solid rgb(77, 132, 204);
    width: 80%;
    color: rebeccapurple;
}

/*Area Do Aluno*/

.campo-pai-dados-pessoais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 1%;
}

.campo-nome label {
    margin: 13px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
}

.campo-nome input {
    width: 250px;
    height: 32px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgb(118, 132, 216);
    outline: none;
}



.campo-cpf label {
    margin: 13px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
}

.campo-cpf input {
    width: 110px;
    height: 32px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgb(118, 132, 216);
    outline: none;
}



.campo-rg label {
    margin: 13px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
}

.campo-rg input {
    width: 110px;
    height: 32px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgb(118, 132, 216);
    outline: none;
}


.campo-pai-dados-pessoais-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 1%;
}

.campo-data-nasc label {
    margin: 13px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
}

.campo-data-nasc input {
    width: 250px;
    height: 32px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgb(118, 132, 216);
    outline: none;
}


.campo-sexo label {
    margin: 13px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
}

.campo-sexo select {
    width: 110px;
    height: 32px;
    border-radius: 4px;
    padding: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgb(118, 132, 216);
    outline: none;
}

.campo-celular label {
    margin: 13px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
}

.campo-celular input {
    width: 110px;
    height: 32px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgb(118, 132, 216);
    outline: none;
}

.campo-pai-dados-pessoais-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 1%;
}


.campo-curso label {
    margin: 13px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
}

.campo-curso select {
    width: 250px;
    height: 32px;
    border-radius: 4px;
    padding: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgb(118, 132, 216);
    outline: none;
}


.campo-e-mail label {
    margin: 13px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
}

.campo-e-mail input {
    width: 250px;
    height: 32px;
    border-radius: 4px;
    padding: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgb(118, 132, 216);
    outline: none;
}


/* Area Do Responsavel*/

.campo-email label {
    margin: 13px;
    font-family: 'Righteous', cursive;
    font-size: 18px;
}

.campo-email input {
    width: 250px;
    height: 32px;
    border-radius: 4px;
    padding: 5px;
    border: none;
    box-shadow: 2px 2px 2px rgb(118, 132, 216);
    outline: none;
}


.campo-data_nasc label {
    margin: 13px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
}

.campo-data_nasc input {
    width: 110px;
    height: 32px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgb(118, 132, 216);
    outline: none;
}


.campo_celular label {
    margin: 13px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
}

.campo_celular input {
    width: 110px;
    height: 32px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 2px rgb(118, 132, 216);
    outline: none;
}


/* Area dos Botoes*/
.campo-pai-botao {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.botao-enviar {
    padding: 40px;
}

.botao-enviar input {
    padding: 6px;
    width: 80px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    background-color: rgb(21, 21, 116);
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(1, 47, 251, 0.801);

}

.botao-enviar input:hover {
    background-color: rgb(12, 79, 179);
}

.botao-limpar {
    padding: 40px;
}


.botao-limpar input {
    padding: 6px;
    width: 80px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    background-color: orange;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(133, 83, 2, 0.815);
}

.botao-limpar input:hover {
    background-color: rgb(182, 132, 15);
}

@media(max-width:800px) {

    .box {
        width: 600px;
        height: 600px;

    }

    .campo-pai-dados-pessoais {
        gap: 35px;
        margin-top: 1%;
    }

    .campo-pai-dados-pessoais-2 {
        gap: 35px;
        margin-top: 1%;
    }

    .campo-pai-dados-pessoais-3 {
        gap: 35px;
        margin-top: 1%;
    }

    /* Primeiro Campo*/
    .campo-nome label {
        margin: 13px;
        font-size: 14px;
    }

    .campo-nome input {
        width: 200px;
        height: 30px;
        padding: 8px;

    }

    /*Segundo Campo*/

    .campo-cpf label {
        margin: 13px;
        font-size: 14px;
    }

    .campo-cpf input {
        width: 105px;
        height: 30px;
        padding: 8px;
    }

    /*Terceiro Campo*/

    .campo-rg label {
        margin: 13px;
        font-size: 14px;
    }

    .campo-rg input {
        width: 105px;
        height: 30px;
        padding: 8px;
    }

    /*Quarto Campo*/

    .campo-data-nasc label {
        margin: 13px;
        font-size: 14px;
    }

    .campo-data-nasc input {
        width: 200px;
        height: 30px;
        padding: 8px;
    }

    /*Quinto Campo*/
    .campo-sexo label {
        margin: 13px;

        font-size: 14px;
    }

    .campo-sexo select {
        width: 105px;
        height: 30px;
        padding: 5px;
    }

    /*Sexto Campo*/
    .campo-celular label {
        margin: 13px;
        font-size: 14px;
    }

    .campo-celular input {
        width: 105px;
        height: 32px;
        padding: 8px;
    }

    /*Setimo Campo*/

    .campo-curso label {
        margin: 13px;
        font-size: 14px;
    }

    .campo-curso select {
        width: 200px;
        height: 30px;
        padding: 5px;

    }

    /*Oitavo Campo*/
    .campo-e-mail label {
        margin: 13px;
        font-size: 14px;
    }

    .campo-e-mail input {
        width: 200px;
        height: 30px;
        padding: 5px;
    }

    /*nono Campo*/
    .campo-email label {
        margin: 13px;
        font-size: 14px;
    }

    .campo-email input {
        width: 200px;
        height: 30px;
        padding: 5px;
    }

    /* décimo Campo*/
    .campo-data_nasc label {
        margin: 13px;
        font-size: 14px;
    }

    .campo-data_nasc input {
        width: 105px;
        height: 30px;
        padding: 8px;
    }

    /* décimo primeiro campo*/
    .campo_celular label {
        margin: 13px;
        font-size: 14px;
    }

    .campo_celular input {
        width: 105px;
        height: 30px;
        padding: 8px
    }
}

@media(max-width:1024px) {
    .container {
        width: 100vw;
        height: 100vh;
    }

    .box {
        width: 700px;
        height: 547px;
    }

}


@media(max-width:800px) {

    .box {
        width: 480px;
        height: 550px;
    }

    .title-secundario {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .title-secundario h2 {
        margin-top: 10px;
        font-weight: 500;
        font-size: 19px;
    }


    .campo-pai-dados-pessoais {
        gap: 6px;
    }

    .campo-pai-dados-pessoais-2 {
        gap: 6px;
    }

    .campo-pai-dados-pessoais-3 {
        gap: 6px;
    }
}

@media(max-width:450px) {
    .box {
        width: 350px;
        height: 550px;
    }

    .botao-limpar input {
        padding: 6px;
        width: 70px;
        font-size: 12px;
        font-size: 10px;

    }

    .botao-enviar input {
        padding: 6px;
        width: 70px;
        font-size: 12px;
        font-size: 10px;

    }

    /* Primeiro Campo*/
    .campo-nome label {
        margin: 13px;
        font-size: 12px;
    }

    .campo-nome input {
        width: 150px;
        height: 25px;
        padding: 8px;
        font-size: 10px;

    }

    /*Segundo Campo*/

    .campo-cpf label {
        margin: 13px;
        font-size: 12px;
    }

    .campo-cpf input {
        width: 80px;
        height: 25px;
        padding: 8px;
        font-size: 10px;
    }

    /*Terceiro Campo*/

    .campo-rg label {
        margin: 13px;
        font-size: 12px;
    }

    .campo-rg input {
        width: 80px;
        height: 25px;
        padding: 8px;
        font-size: 10px;
    }

    /*Quarto Campo*/

    .campo-data-nasc label {
        margin: 8px;
        font-size: 12px;
    }

    .campo-data-nasc input {
        width: 150px;
        height: 25px;
        padding: 8px;
        font-size: 10px;
    }

    /*Quinto Campo*/
    .campo-sexo label {
        margin: 10px;
        font-size: 12px;
    }

    .campo-sexo select {
        width: 80px;
        height: 25px;
        padding: 5px;
        font-size: 10px;
    }

    /*Sexto Campo*/
    .campo-celular label {
        margin: 13px;
        font-size: 12px;
    }

    .campo-celular input {
        width: 80px;
        height: 25px;
        padding: 8px;
        font-size: 10px;
    }

    /*Setimo Campo*/

    .campo-curso label {
        margin: 13px;
        font-size: 12px;
    }

    .campo-curso select {
        width: 150px;
        height: 25px;
        padding: 5px;
        font-size: 10px;

    }

    /*Oitavo Campo*/
    .campo-e-mail label {
        margin: 13px;
        font-size: 12px;
    }

    .campo-e-mail input {
        width: 150px;
        height: 25px;
        padding: 5px;
        font-size: 10px;
    }

    /*nono Campo*/
    .campo-email label {
        margin: 13px;
        font-size: 12px;
    }

    .campo-email input {
        width: 150px;
        height: 25px;
        padding: 5px;
        font-size: 10px;

    }

    /* décimo Campo*/
    .campo-data_nasc label {
        margin: 13px;
        font-size: 12px;
    }

    .campo-data_nasc input {
        width: 80px;
        height: 25px;
        padding: 8px;
        font-size: 10px;
    }

    /* décimo primeiro campo*/
    .campo_celular label {
        margin: 13px;
        font-size: 12px;
        
    }

    .campo_celular input {
        width: 80px;
        height: 25px;
        padding: 8px;
        font-size: 10px;
        
    }
        
    
}

@media(max-width:280px) {

    .box {
        width: 270px;
        height: 469px;
    }

    .title-secundario h2 {
        margin-top: 10px;
        font-weight: 500;
        font-size: 17px;
        width: 70%;
    }

    .campo-nome label {
        margin: 8px;
        font-size: 9px;
    }

    .campo-nome input {
        width: 103px;
        height: 25px;
        padding: 8px;
        font-size: 8px;
    }

    /*Segundo Campo*/

    .campo-cpf label {
        margin: 8px;
        font-size: 9px;
    }

    .campo-cpf input {
        width: 63px;
        height: 23px;
        padding: 8px;
        font-size: 8px;
    }
    /*Terceiro Campo*/

    .campo-rg label {
        margin: 8px;
        font-size: 9px;
    }

    .campo-rg input {
        width: 63px;
        height: 23px;
        padding: 8px;
        font-size: 8px;
    }

    /*Quarto Campo*/

    .campo-data-nasc label {
        margin: 8px;
        font-size: 9px;
    }

    .campo-data-nasc input {
        width: 103px;
        height: 25px;
        padding: 8px;
        font-size: 8px;
    }

    /*Quinto Campo*/
    .campo-sexo label {
        margin: 8px;
        font-size: 9px;
    }

    .campo-sexo select {
        width: 63px;
        height: 23px;
        padding: 8px;
        font-size: 7px;
    }

    /*Sexto Campo*/
    .campo-celular label {
        margin: 8px;
        font-size: 9px;
    }

    .campo-celular input {
        width: 63px;
        height: 23px;
        padding: 8px;
        font-size: 8px;
    }

    /*Setimo Campo*/

    .campo-curso label {
        margin: 8px;
        font-size: 9px;
    }

    .campo-curso select {
        width: 103px;
        height: 25px;
        padding: 8px;
        font-size: 7px;

    }

    /*Oitavo Campo*/
    .campo-e-mail label {
        margin: 8px;
        font-size: 9px;
    }

    .campo-e-mail input {
        width: 103px;
        height: 25px;
        padding: 8px;
        font-size: 8px;
    }

    /*nono Campo*/
    .campo-email label {
        margin: 8px;
        font-size: 9px;
    }

    .campo-email input {
        width: 103px;
        height: 25px;
        padding: 8px;
        font-size: 8px;

    }

    /* décimo Campo*/
    .campo-data_nasc label {
        margin: 8px;
        font-size: 9px;
    }

    .campo-data_nasc input {
        width: 63px;
        height: 23px;
        padding: 8px;
        font-size: 8px;
    }

    /* décimo primeiro campo*/
    .campo_celular label {
        margin: 8px;
        font-size: 9px;
        
    }

    .campo_celular input {
        width: 63px;
        height: 23px;
        padding: 8px;
        font-size: 8px;
        
    }

    .botao-enviar input {
        padding: 6px;
        width: 51px;
        font-size: 12px;
        font-size: 8px;
    }
    
    .botao-limpar input {
        padding: 6px;
        width: 57px;
        font-size: 12px;
        font-size: 8px;
    }


}